body{
    background-color: black;
}
.navbar-brand{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
#movieGenreLabel{
	color: white;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    padding: 10px;
    width: 25%;
    flex-basis: 25%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.box img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.box .overlay {
    width: 100%;
    max-height: 60%;
    min-height: auto;
    position: absolute;
	overflow: auto;
    bottom: -100%;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    left: 0;
    transition: 0.5s;
    background-color: white;
}
.box span {
    color: orange;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box:hover .overlay {
    bottom: 0%;
}
.overlay h2 {
    margin-bottom: 10px;
}